In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
filepath = "../data/raw/"

In [3]:
# Cargar los archivos CSV
calls_df = pd.read_csv(filepath + "megaline_calls.csv")
internet_df = pd.read_csv(filepath + "megaline_internet.csv")
messages_df = pd.read_csv(filepath + "megaline_messages.csv")
plans_df = pd.read_csv(filepath + "megaline_plans.csv")
users_df = pd.read_csv(filepath + "megaline_users.csv")

In [4]:
# Comenzamos por las llamadas
calls_df.head()

         id  user_id   call_date  duration
0   1000_93     1000  2018-12-27      8.52
1  1000_145     1000  2018-12-27     13.66
2  1000_247     1000  2018-12-27     14.48
3  1000_309     1000  2018-12-28      5.76
4  1000_380     1000  2018-12-30      4.22

In [6]:
calls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137735 entries, 0 to 137734
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         137735 non-null  object
 1   user_id    137735 non-null  int64
 2   call_date  137735 non-null  object
 3   duration   137735 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 4.2+ MB

In [7]:
calls_df.isnull().sum()

id           0
user_id      0
call_date    0
duration     0
dtype: int64

In [8]:
calls_df.isna().sum()

id           0
user_id      0
call_date    0
duration     0
dtype: int64