In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
filepath = "../data/raw/"

In [3]:
# Cargar los archivos CSV
calls_df = pd.read_csv(filepath + "megaline_calls.csv")
internet_df = pd.read_csv(filepath + "megaline_internet.csv")
messages_df = pd.read_csv(filepath + "megaline_messages.csv")
plans_df = pd.read_csv(filepath + "megaline_plans.csv")
users_df = pd.read_csv(filepath + "megaline_users.csv")

In [4]:
users_df.head()

,user_id,first_name,last_name,age,city,reg_date,plan,churn_date
0,1000,Anamaria,Bauer,45,"Atlanta-Sandy Springs-Roswell, GA MSA",2018-12-24,ultimate,NaN
1,1001,Mickey,Wilkerson,28,"Seattle-Tacoma-Bellevue, WA MSA",2018-08-13,surf,NaN
2,1002,Carlee,Hoffman,36,"Las Vegas-Henderson-Paradise, NV MSA",2018-10-21,surf,NaN
3,1003,Reynaldo,Jenkins,52,"Tulsa, OK MSA",2018-01-28,surf,NaN
4,1004,Leonila,Thompson,40,"Seattle-Tacoma-Bellevue, WA MSA",2018-05-23,surf,NaN

In [5]:
# Churn_date es la fecha en que el usuario canceló el servicio
# entonces si tiene NaN significa que aún tiene activo su servicio.

In [6]:
users_df["churn_date"] = users_df["churn_date"].fillna("Activo")

In [7]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     500 non-null    int64
 1   first_name  500 non-null    object
 2   last_name   500 non-null    object
 3   age         500 non-null    int64
 4   city        500 non-null    object
 5   reg_date    500 non-null    object
 6   plan        500 non-null    object
 7   churn_date  500 non-null    object
dtypes: int64(2), object(6)
memory usage: 31.4+ KB