In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
filepath = "../data/clean/"

In [21]:
# Cargar los archivos CSV
calls_df = pd.read_csv(filepath + "megaline_calls.csv")
internet_df = pd.read_csv(filepath + "megaline_internet.csv")
messages_df = pd.read_csv(filepath + "megaline_messages.csv")
plans_df = pd.read_csv(filepath + "megaline_plans.csv")
users_df = pd.read_csv(filepath + "megaline_users.csv")

In [22]:
usuarios_con_consumo_df = pd.read_csv(filepath + "usuarios_con_consumo.csv")

In [23]:
# Seleccionar columnas relevantes para la tabla de hechos
fact_usage = usuarios_con_consumo_df[["user_id", "plan", "total_minutes", "message_count", "total_mb_used", "costo_total"]].copy()

In [24]:
fact_usage

,user_id,plan,total_minutes,message_count,total_mb_used,costo_total
0,1000,ultimate,116.83,11.0,1901.47,70.000000
1,1001,surf,1640.46,207.0,80437.94,694.450558
2,1002,surf,777.13,88.0,40293.33,272.943451
3,1003,surf,1041.00,50.0,27044.14,150.332930
4,1004,surf,2618.95,177.0,156352.81,1464.261410
...,...,...,...,...,...,...
495,1495,surf,1666.41,0.0,98890.96,870.724331
496,1496,surf,1376.21,65.0,64268.64,524.359738
497,1497,ultimate,276.53,50.0,11106.55,70.000000
498,1498,surf,3029.97,0.0,227525.13,2167.824198
499,1499,surf,1450.31,0.0,71350.23,595.288890

In [25]:
fact_usage.rename(columns={
    "total_minutes": "calls_minutes",
    "message_count": "messages_sent",
    "total_mb_used": "data_used_mb",
    "costo_total": "total_cost"
}, inplace=True)

In [26]:
# Tablas de dimensiones

In [27]:
# Objetivo:
# Predecir el Monto Total (Facturación) que un Usuario Pagará en el Próximo Mes

In [28]:
# Seleccionar columnas relevantes
dim_plans = plans_df[["plan_name", "usd_monthly_pay", "mb_per_month_included", "usd_per_gb", "usd_per_message", "usd_per_minute"]].copy()

In [29]:
dim_plans

,plan_name,usd_monthly_pay,mb_per_month_included,usd_per_gb,usd_per_message,usd_per_minute
0,surf,20,15360,10,0.03,0.03
1,ultimate,70,30720,7,0.01,0.01

In [30]:
dim_plans.rename(columns={
    "usd_monthly_pay": "cost_monthly",
    "mb_per_month_included": "mb_included",
    "usd_per_gb": "price_per_gb",
    "usd_per_message": "price_per_sms",
    "usd_per_minute": "price_per_min"
}, inplace=True)

In [31]:
dim_plans

,plan_name,cost_monthly,mb_included,price_per_gb,price_per_sms,price_per_min
0,surf,20,15360,10,0.03,0.03
1,ultimate,70,30720,7,0.01,0.01